html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
body {
    line-height: 1;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    color:#f1f1f1;
    background: black;
    overflow: hidden;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

/* remember to define focus styles! */
:focus {
    outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*end reset*/

#wrapper { 
    width:1152px;
    margin:0 auto;
}

#header {
    position:absolute; 
    background-color:rgba(0,0,0,0.7);
    top:7px;
    left:0px; 
    width:100%;
    z-index: 10001; /* to be on top of video in full screen */
}

#logo {
    font-size:18px;
    line-height:28px;
    width:197px; 
    height:33px;
    float:left;
    padding: 0px 10px 16px 50px;
}

#tabs {
    float:left;
}

#mainMenu {
    height: 43px;
    width: 945px;
    overflow: hidden;
}
.menu-row {
    padding-top: 15px;
    overflow: hidden;
}

.menu-option { 
    width:138px;
    height:33px;
    float:left;
    margin-right:10px;
    font-size:20px;
    line-height:33px;
    text-align:center;
    border: 2px solid #454545;
    background-color: #454545;
    border-radius: 12px 12px / 12px 12px; 
}

.menu-option-off { 
    color: #f1f1f1;
    text-decoration:none;
}

.menu-option-highlighted { 
    border: 2px solid #9bec1c !important;
}

.menu-option-active { 
    background-color: #526d00;
    border: 2px solid #526d00;
}

.now-playing-layer {
	background-color: rgba(0, 0, 0, 0.7);
	color: #9bec1c;
	height: 23px;
	font-size: 15px;
	padding: 5px 0px 0px 13px;
	width: 92px;
	position: absolute;
	top: 46px;
	display: none;
}

.arrowR, .arrowL {
	padding-top: 27px;
	vertical-align: 18px;
	float: left;
	cursor: pointer;
}

.arrowL {
	margin-right: 5px;
}

#carousel {
    height:78px;
    margin: 18px 0px 0px 50px;
}

.slider-photo {
	width: 105px;
	height: 73px;
	position: relative;
}

.thumbnails-item-active .now-playing-layer {
	display: block;
}

.thumbnails { 
	margin: 0px 10px 10px 10px;
	float: left;
	width: 1110px;
	overflow: hidden;
	white-space: nowrap;
}

.thumbnails-item { 
    border: 3px solid #707070;
}

.thumbnails-item-active { 
    border: 3px solid #707070;
}

.thumbnails-item-highlighted{
	-webkit-box-shadow: 0 0 10px 5px #9bec1c;
    border: 3px solid #9bec1c;
}

.thumbnails-item-div { 
	padding: 7px;
}

.tooltip {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    -webkit-box-shadow: none;
    position: absolute;
    margin: 18px 15px 0 22px;
    padding: 10px;
    width: auto;
    height: auto;
}

.tooltip h2 { 
    font-size:20px;
    margin:0;
}

.tooltip h3 { 
    font-size:16px; 
    color:#6b6b6b;
    margin:0 0 5px 0;
}

.tooltip span { 
    font-size:16px; 
    color:#9bec1c;
}
.tooltip span.floatLeft {
    padding: 0 10px 0 0;
}

#content {
    position:absolute; 
    bottom:0px; 
    left:0px;
    width:100%;
    height:130px;
    background-color:rgba(0,0,0,0.5);
    z-index: 10001;
}

#content .description {
    float:left;
    padding-left: 50px;
}

#content .description h1 {
    font-size:27px;
    font-weight: normal;
    padding-top: 20px;
}

#content .description p {
    font-size:24px;
    color:#6b6b6b; 
    margin-top:5px;
}

.video-control {
	width: 100%;
	height: 100%;
}

.video-control-container {
	z-index: 10000;
}

.video-command-div {
	float: left;
}

.video-command {
	width: 48px;
	height: 37px;
	margin: 0 6px;
	border: 2px solid #454545;
	border-radius: 5px 5px / 5px 5px;
}

.video-command.video-command-selected {
	border: 2px solid #9bec1c;
}

#previous {
	background: url("../images/control-first.png") top left no-repeat;
}

#previous.video-command-highlighted {
	background: url("../images/control-first-over.png") top left no-repeat;
}

#rewind {
	background: url("../images/control-REW.png") top left no-repeat;
}

#rewind.video-command-highlighted {
	background: url("../images/control-REW-over.png") top left no-repeat;
}

#playPause.video-command-paused {
	background: url("../images/control-pause.png") top left no-repeat;
}

#playPause.video-command-paused.video-command-highlighted {
	background: url("../images/control-pause-over.png") top left no-repeat;
}

#playPause {
	background: url("../images/control-play.png") top left no-repeat;
}

#playPause.video-command-highlighted {
	background: url("../images/control-play-over.png") top left no-repeat;
}

#fastForward {
	background: url("../images/control-FF.png") top left no-repeat;
}

#fastForward.video-command-highlighted {
	background: url("../images/control-FF-over.png") top left no-repeat;
}

#next {
	background: url("../images/control-last.png") top left no-repeat;
}

#next.video-command-highlighted {
	background: url("../images/control-last-over.png") top left no-repeat;
}

#controls {
    float:right; 
    margin:20px 50px 5px 0; 
}

#controls a{
    margin:0 6px; 
}

#controls .statusbar {
    margin:0 6px 10px 6px;
    font-size:20px;
    float: left;
}

.elapsedTime {
	width: 50px;
    margin:6px 10px 10px 0px;
    float: left;
}

.duration {
	width: 50px;
    margin:6px 10px 10px 10px;
    float: left;
}

.progressbar {
    background: #404040;
    width: 183px;
    height: 13px;
    float: left;
    margin:10px 0px 10px 0px;
    border-radius: 5px 5px / 5px 5px;
}

.progressTime {
    background: #91b521;
    height: 13px;
    margin: 0px;
    border-top-left-radius: 5px 5px;
	border-bottom-left-radius: 5px 5px;
    float: left;
}

.loadTime {
	background: #526d00;
	height: 13px;
	margin: 0px;
	float: left;
	border-top-right-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;
	float: left;
}

.timeTooltip {
	background: url("../images/tooltipTime-big.png") top left no-repeat;
	width: 75px;
	height: 31px;
	text-align: center;
	padding-top: 4px;
}

#controls .statusbar img{
    margin:0 15px;
}

.clear {
    clear:both;
}